.tips-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.tips-btn,
.custom-input {
  width: 30%;
  margin: 0.3rem;
  padding: 0.2rem 1.5rem;
}

.tips-btn {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.tips-btn-active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.custom-input::placeholder {
  text-align: center;
}

@media (min-width: 512px) and (max-width: 639px) {
  .tips-btn,
  .custom-input {
    width: 49%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 352px) and (max-width: 511px) {
  .tips-btn,
  .custom-input {
    width: 47%;
  }
}

@media (min-width: 320px) and (max-width: 351px) {
  .tips-btn,
  .custom-input {
    width: 46%;
  }
}
